<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Explorer</title>
    <link rel="stylesheet" href="../static/css/Stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/file_explorer.js"></script>
</head>
<body>
    <div class="navbar">
        <button class="button relative left" style="width: 85px; height: 35px; border-radius: 100px" onclick="window.location.href='{{ url_for('home') }}';">Home</button>
        <h1>File explorer</h1>
        <button id="log-out" class="button relative right" style="width: 85px; height: 35px; border-radius: 100px">Log out</button>
    </div>

    <div style="height: 80px"></div>

    <div id="explorer" class="explorer"></div>

    <div id="bottom-spacer" style="height: 0; width: 100%"></div>

    <div hidden="hidden" id="popup-context" class="popup"></div>

    <div class="notification-container" id="notification">
        <h2 class="notification-text" id="notification-text"></h2>
    </div>

    <div class="confirm-prompt" id="confirm-delete">
        <p class="confirm-text" id="confirm-text"></p>
        <button class="confirm-button yes">Yes</button>
        <button class="confirm-button no">No</button>
    </div>
</body>
</html>