<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/home.js"></script>
    <script src="../static/js/mobile.js"></script>
    <link rel="stylesheet" href="../static/css/Stylesheet.css">
    <title>Home</title>
</head>

<body style="text-align: center;">

<div class="navbar">
    <button class="button relative left"> </button>
    <h1>Welcome!</h1>
    <button id="log-out" class="button relative right">Log out</button>
</div>

<div class="navbar-spacer"></div>

<p>Time is ticking... </p>
<p class="" id="connect_time">{{ connect_time }}</p>
<div class="flex-container-vertical">
    <div>
        <input class="button" type="button" id="subtract_time" value="-">
        <input class="button" type="button" id="stop_time" value="||">
        <input class="button" type="button" id="add_time" value="+">
    </div>

    <div style="padding: 20px">
        <button class="button" onclick="window.location.href='{{ url_for('discord') }}'">Discord</button>
        <button class="button" onclick="window.location.href='{{ url_for('lights') }}'">Lights</button>
        <button class="button" onclick="window.location.href='{{ url_for('file_explorer') }}'">File explorer</button>
    </div>

    <img src="/static/images/webcam0.jpeg" id="webcam" alt="image">
</div>
</body>
</html>