<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/Stylesheet.css">
    <title>Raspberry pi control panel</title>
</head>
<body>
    <h1 style="text-align: center">Welcome to raspberry pi control panel!</h1>
    <ol>
        <li><button onclick="window.location.href='{{ url_for('lights') }}';">Light control</button></li>

        <li><button onclick="window.location.href='{{ url_for('discord') }}';">Discord control</button></li>
    </ol>
</body>
</html>