<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/Stylesheet.css">
    <title>Light Manager</title>
</head>

<body>
    <h1 style="text-align: center">Light Manager</h1>
    <div class="flex-container-horizontal">
        <div class="flex-container-vertical-left">
            <button style="float: right" onclick="window.location.href='{{ url_for('home') }}';">Home</button>
        </div>

        <div class="flex-container-vertical-left">
            <p>Bonjour</p>
            <p>RGBW</p>
        </div>
    </div>
    <div class="flex-container-vertical">
        <form method="post" class="flex-container-horizontal">
            <input onchange="window.location.href='{{ url_for('lights_post') }}'" type="range" min="0" max="255" class="slider" id="Red" name="Red">
            <label for="Red" class="label" style="color: red">{{ red }}</label>
        </form>
    </div>
</body>
</html>