<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/home.js"></script>
    <link rel="stylesheet" href="../static/css/Stylesheet.css">
    <title>Home</title>
</head>

<body>

<div
     style="height: auto;
        display: flex;
        align-items: center;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: #424249;
        border-bottom-left-radius: 1000px 25px;
        border-bottom-right-radius: 1000px 25px;
        padding: 5px 20px 15px 20px;">
    <img src="/static/images/cart.png" style="padding: 0; width: 40px; height:40px; display: inline-block;" alt="err">
    <p style="display: inline-block; height: auto; padding-left: 100px;">d</p>
</div>

</body>